<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <title>{% block title %}{% endblock title %} | AsiriaPOS</title>

  <link rel="canonical" href="//www.asiriatech.ke/" />
  
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta
    name="description"
    content="AsiriaPOS is a point of sale system for small businesses."
  />
  <meta name="keywords" content="AsiriaPOS, Point of Sale, POS, Small Business, Retail, Inventory Management, Sales, Reporting, Analytics" />
  <meta name="author" content="AsiriaTech" />

  {% include 'includes/styles.html' %}

  {% block extrastyle %}{% endblock extrastyle %}

</head>
<body>
  {% block loader %}
    {% include 'includes/loader.html' %}
  {% endblock loader %}

  {% block content %}{% endblock content %}

  {% include 'includes/scripts.html' %}

  {% block extra_js %}{% endblock extra_js %}
</body>
</html>